.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
README.md
.eslintignore
.markdownlint.json
ankiconfig.json
resources/*.svg
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
tests
git